h1 {
  font-family: Bilbo Swash Caps, cursive;
  font-size: 4rem;
  color: #FCFDFD;
}

p {
  padding-bottom: 2%;
  text-indent: 2rem;
}

#footer p {
  text-indent: 0;
}

.bio-section {
  padding-bottom: 2%;
  text-align: left;
}

.about-me-img {
  margin-left: -10rem;
  padding-bottom: 60px;
  float: left;
}

/* Media Breakpoints */
@media (max-width: 1028px) {
  .about-me-img {
  margin-left: -7rem;
  padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .about-me-img {
    margin-left: 0;
    float: none;
    text-align: center;
    width: 99%;
  }
}
