body {
  font-family: Spartan, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
  line-height: 2;
  margin: 0;
}

a {
  color: #F79C64;
}

a:hover {
  color: #F9B58B;
}

/* Design Element */

.line-break-teal {
  width: 20%;
}

.line-break-gold {
  margin-top: -5rem;
  padding-bottom: 3rem;
}

/* Containers */

.container-fluid {
  padding: 7% 12%;
}

.container-narrow {
  padding: 3% 10% 0;
}

.teal-section {
  background-color: #007580;
  color: #90cbc4;
}

.white-section {
  background-color: #fff;
}

/* Navigation */

.other-pages {
  padding: 0 20px;
}

/* Contact Section */

.contact-icon {
  color: #F79C64;
  margin: 20px;
}

.contact-icon:hover {
  color: #F9B58B;
}

/* Media Breakpoints */
@media (max-width: 480px) {
  h2{
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .container-narrow {
    padding: 7% 10% 0;
  }
}
