h1 {
  font-family: Bilbo Swash Caps, cursive;
  font-size: 4rem;
  color: #007580;
}

p {
  padding-bottom: 2%;
  text-indent: 2rem;
}

/* Media Breakpoints */
@media (max-width: 1400px) {
  .about-me-img {
  margin-left: -7rem;
  padding-bottom: 0;
  width: 25em;
  }
}

@media (max-width: 1200px) {
  .about-me-img {
    width: 20em;
  }
}

@media (max-width: 992px) {
  .about-me-img {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .about-me-img {
    float: none;
    width: 99%;
  }
}
